services:
  app:
    container_name: app
    image: melbong/job-crawler-be
    build:
      context: .
      dockerfile: Dockerfile
    user: "1000:1000"
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - PYTHONPATH=/workspace
    depends_on:
      - db
    volumes:
      - ./app:/workspace/app
    command: >
      sh -c "
        uv run python manage.py collectstatic --noinput --clear &&
        uv run python manage.py migrate &&
        uv run gunicorn app.config.wsgi:application --bind 0.0.0.0:8000
      "

  db:
    container_name: db
    image: postgres:15
    ports:
      - 5432:5432
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  chromadb:
    image: chromadb/chroma
    ports:
      - "8008:8000"
    volumes:
      - chroma_data:/chroma/.chroma/index

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  celery_worker:
    container_name: celery_worker
    image: melbong/job-crawler-be
    env_file:
      - .env
    environment:
      - PYTHONPATH=/workspace
    depends_on:
      - app
      - redis
    volumes:
      - ./app:/workspace/app
    command: uv run celery -A app.config worker -l info -c 2

volumes:
  postgres_data:
  chroma_data:
  neo4j_data:
  redis_data:
