services:
  app:
    container_name: app
    image: ${PROD_IMAGE_NAME}
    ports:
      - ${PORT}:8000
    env_file:
      - .env.prod
    environment:
      - PYTHONPATH=/workspace
    depends_on:
      - db
    volumes:
      - ./app:/workspace/app
      - /workspace/.venv
    command: >
      sh -c "
        uv run python manage.py migrate &&
        uv run gunicorn app.config.wsgi:application --bind 0.0.0.0:8000
      "

  db:
    container_name: db
    image: postgres:15
    ports:
      - 5432:5432
    env_file:
      - .env.prod
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  chromadb:
    image: chromadb/chroma
    ports:
      - "8008:8000"
    volumes:
      - chroma_data:/chroma/.chroma/index

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

volumes:
  postgres_data:
  chroma_data:
  neo4j_data:
